.accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 3rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: height 300ms;
}

.accordion.active {
    height: 6rem;
}

.accordion .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 3rem;
    background-color: var(--color-dark);
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 0.3rem var(--color-darker);
}

.accordion .head .text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-light);
}

.accordion .head .svg_wrapper {
    width: 1.5rem;
}

.accordion .head .svg_wrapper svg {
    stroke: var(--color-light);
}

.accordion .body {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 3rem;
    text-align: left;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.accordion .body .text {
    font-size: 1.2rem;
    color: var(--color-light);
}
