.header {
    position: relative;

    width: 100%;
    height: 100dvh;
}

.header .background {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
}

.header .background img {
    height: 100dvh;
}

.header .background .filter {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}
