.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.hero .image {
    width: 60%;
}

.hero .image img {
    font-size: 1.2rem;
    color: var(--color-primary);
}

.hero .title {
    font-size: 1.7rem;
    font-family: var(--font-primary);
    color: var(--color-primary);
}

.hero .slogon {
    width: 80%;
    font-size: 1.2rem;
    color: rgba(210, 210, 210, 0.6);
}
