.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.hero .image {
    width: 60%;
}

.hero .slogon {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    color: var(--color-light);
}
