/* Default button style */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    padding: 0.3rem 0.5rem;
    border: 2px solid;
    border-radius: 0.3rem;
    transition: all 200ms ease-out;
}

.text {
    font-size: 1rem;
    font-weight: 500;
    transition: all 200ms ease-out;
}

.svg {
    width: 1rem;
    transition: all 200ms ease-out;
}

/* Primary Button Styles */
.btn.primary {
    background-color: var(--color-primary);
    border-color: transparent;
}

.text.primary {
    color: var(--color-darker);
}

.svg.primary.color_fill svg {
    fill: var(--color-darker);
}
.svg.primary.color_stroke svg {
    stroke: var(--color-darker);
}

.btn.primary:focus .text.primary {
    color: var(--color-primary);
}

.btn.primary:focus .svg.primary.color_fill svg {
    fill: var(--color-primary);
}

.btn.primary:focus .svg.primary.color_stroke svg {
    stroke: var(--color-primary);
}

.btn.primary:focus {
    background-color: transparent;
    border-color: var(--color-primary);
}

/* Primary Outline Button Styles */
.btn.primary_outline {
    background-color: transparent;
    border-color: var(--color-primary);
}

.text.primary_outline {
    color: var(--color-primary);
}

.svg.primary_outline.color_fill svg {
    fill: var(--color-primary);
}
.svg.primary_outline.color_stroke svg {
    stroke: var(--color-primary);
}

.btn.primary_outline:focus .text.primary_outline {
    color: var(--color-darker);
}

.btn.primary_outline:focus .svg.primary_outline.color_fill svg {
    fill: var(--color-darker);
}

.btn.primary_outline:focus .svg.primary_outline.color_stroke svg {
    stroke: var(--color-darker);
}

.btn.primary_outline:focus {
    background-color: var(--color-primary);
    border-color: transparent;
}

/* Danger Outline Button Styles */
.btn.danger_outline {
    background-color: transparent;
    border-color: var(--color-danger);
}

.text.danger_outline {
    color: var(--color-danger);
}

.svg.danger_outline.color_fill svg {
    fill: var(--color-danger);
}
.svg.danger_outline.color_stroke svg {
    stroke: var(--color-danger);
}

.btn.danger_outline:focus .text.danger_outline {
    color: var(--color-darker);
}

.btn.danger_outline:focus .svg.danger_outline.color_fill svg {
    fill: var(--color-darker);
}

.btn.danger_outline:focus .svg.danger_outline.color_stroke svg {
    stroke: var(--color-darker);
}

.btn.danger_outline:focus {
    background-color: var(--color-danger);
    border-color: transparent;
}

/* Darker Button Styles */
.btn.darker {
    background-color: var(--color-darker);
    border-color: transparent;
}

.text.darker {
    color: var(--color-light);
}

.svg.darker.color_fill svg {
    fill: var(--color-light);
}
.svg.darker.color_stroke svg {
    stroke: var(--color-light);
}

.btn.darker:focus .text.darker {
    color: var(--color-darker);
}

.btn.darker:focus .svg.darker.color_fill svg {
    fill: var(--color-darker);
}

.btn.darker:focus .svg.darker.color_stroke svg {
    stroke: var(--color-darker);
}

.btn.darker:focus {
    background-color: transparent;
    border-color: var(--color-darker);
}

/* Primary Darker Button Styles */
.btn.primary_darker {
    background-color: var(--color-primary-darker);
    border-color: transparent;
}

.text.primary_darker {
    color: var(--color-light);
}

.svg.primary_darker.color_fill svg {
    fill: var(--color-light);
}
.svg.primary_darker.color_stroke svg {
    stroke: var(--color-light);
}

.btn.primary_darker:focus .text.primary_darker {
    color: var(--color-primary-darker);
}

.btn.primary_darker:focus .svg.primary_darker.color_fill svg {
    fill: var(--color-primary-darker);
}

.btn.primary_darker:focus .svg.primary_darker.color_stroke svg {
    stroke: var(--color-primary-darker);
}

.btn.primary_darker:focus {
    background-color: transparent;
    border-color: var(--color-primary-darker);
}
