/* Default button style */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    padding: 0.3rem 0.5rem;
    border: 2px solid;
    transition: all 200ms ease-out;
}

.rounded {
    border-radius: 0.3rem;
}

.text {
    font-size: 1rem;
    font-weight: 500;
    transition: all 200ms ease-out;
}

.svg {
    width: 1rem;
    transition: all 200ms ease-out;
}

/* Primary Button Styles */
.btn.primary {
    background-color: var(--color-primary);
    border-color: transparent;
}
.btn.primary .text {
    color: var(--color-darker);
}
.btn.primary .svg.color_fill svg {
    fill: var(--color-darker);
}
.btn.primary .svg.color_stroke svg {
    stroke: var(--color-darker);
}

.btn.primary:focus {
    background-color: transparent;
    border-color: var(--color-primary);
}
.btn.primary:focus .text {
    color: var(--color-primary);
}
.btn.primary:focus .svg.color_fill svg {
    fill: var(--color-primary);
}
.btn.primary:focus .svg.color_stroke svg {
    stroke: var(--color-primary);
}

/* Primary Outline Button Styles */
.btn.primary_outline {
    background-color: transparent;
    border-color: var(--color-primary);
}
.btn.primary_outline .text {
    color: var(--color-primary);
}
.btn.primary_outline .svg.color_fill svg {
    fill: var(--color-primary);
}
.btn.primary_outline .svg.color_stroke svg {
    stroke: var(--color-primary);
}

.btn.primary_outline:focus {
    background-color: var(--color-primary);
    border-color: transparent;
}
.btn.primary_outline:focus .text {
    color: var(--color-darker);
}
.btn.primary_outline:focus .svg.color_fill svg {
    fill: var(--color-darker);
}
.btn.primary_outline:focus .svg.color_stroke svg {
    stroke: var(--color-darker);
}

/* Danger Outline Button Styles */
.btn.danger_outline {
    background-color: transparent;
    border-color: var(--color-danger);
}
.danger_outline .text {
    color: var(--color-danger);
}
.danger_outline .svg.color_fill svg {
    fill: var(--color-danger);
}
.danger_outline .svg.color_stroke svg {
    stroke: var(--color-danger);
}

.btn.danger_outline:focus {
    background-color: var(--color-danger);
    border-color: transparent;
}
.btn.danger_outline:focus .text {
    color: var(--color-darker);
}
.btn.danger_outline:focus .svg.color_fill svg {
    fill: var(--color-darker);
}
.btn.danger_outline:focus .svgcolor_stroke svg {
    stroke: var(--color-darker);
}

/* Darker Button Styles */
.btn.darker {
    background-color: var(--color-darker);
    border-color: transparent;
}
.darker .text {
    color: var(--color-light);
}
.darker .svg.color_fill svg {
    fill: var(--color-light);
}
.darker .svg.color_stroke svg {
    stroke: var(--color-light);
}

.btn.darker:focus {
    background-color: transparent;
    border-color: var(--color-darker);
}
.btn.darker:focus .text {
    color: var(--color-darker);
}
.btn.darker:focus .svg.color_fill svg {
    fill: var(--color-darker);
}
.btn.darker:focus .svg.color_stroke svg {
    stroke: var(--color-darker);
}

/* Primary Darker Button Styles */
.btn.primary_darker {
    background-color: var(--color-primary-darker);
    border-color: transparent;
}
.primary_darker .text {
    color: var(--color-light);
}
.primary_darker .svg.color_fill svg {
    fill: var(--color-light);
}
.primary_darker .svg.color_stroke svg {
    stroke: var(--color-light);
}

.btn.primary_darker:focus {
    background-color: transparent;
    border-color: var(--color-primary-darker);
}
.btn.primary_darker:focus .text {
    color: var(--color-primary-darker);
}
.btn.primary_darker:focus .svg.color_fill svg {
    fill: var(--color-primary-darker);
}
.btn.primary_darker:focus .svg.color_stroke svg {
    stroke: var(--color-primary-darker);
}
