.error_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100dvw;
    height: 100dvh;
}

.error_page .expression {
    font-size: 2rem;
    font-weight: 600;
}

.error_page .context {
    font-size: 1.2rem;
    color: var(--color-alert);
}

.error_page .error > i {
    font-size: 1rem;
}

.error_page .error {
    overflow: visible;
}

.error_page .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.error_page .link .svg_wrapper svg {
    width: 1.2rem;
    stroke: var(--color-link);
}

.error_page .link .text {
    font-size: 1.2rem;
    color: var(--color-link);
}
