.accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: visible;
    transition: height 200ms;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem var(--color-darker);
}

.head .text {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.head .svg_wrapper {
    width: 1.5rem;
    height: 1.5rem;
    transition: rotate 200ms;
}

.body {
    display: grid;
    grid-template-rows: 0fr;

    width: 100%;
    padding-inline: 0.8rem;
    transition: all 200ms ease-out;
}

.body .context {
    text-align: left;
}

.accordion.active .head .svg_wrapper {
    rotate: -180deg;
}

.accordion.active .body {
    grid-template-rows: 1fr;
    padding: 0.8rem;
}

/* Accordion Colors */
.accordion.primary {
    background-color: var(--color-primary);
}
.accordion.primary_darker {
    background-color: var(--color-primary-darker);
}
.accordion.dark {
    background-color: var(--color-dark);
}
.accordion.darker {
    background-color: var(--color-darker);
}
