.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
    height: 100%;
    padding: 1rem;
}

.img_wrapper {
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
}

.img_wrapper img {
    height: 100%;
}

.message {
    width: 80%;
    text-align: left;
    color: var(--color-darker);
    background-color: var(--color-light);
    padding: 1rem;
    border-radius: 0.5rem;
    resize: none;
}
