.authentication_error {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 90%;
    transform: translate(-50%, -50%);
}

.expression {
    font-size: 2rem;
    font-weight: 600;
}

.authentication_error .context {
    font-size: 1.2rem;
    color: var(--color-alert);
}
