.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-primary);
}

.img_wrapper {
    height: 40%;
    border-radius: 0.5rem;
}

.img_wrapper img {
    width: 100%;
    font-style: italic;
    font-weight: 600;
}

.context_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}
.context_wrapper .title {
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--font-primary);
    color: var(--color-primary);
}
